.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  background: rgba(34, 40, 49, 0.83);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  min-height: 5.75rem;
}

.header__logo {
}

.header__menu {
}
.menu {
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  align-items: center;
}
.menu__item {
  white-space: nowrap;
  transition: transform 0.3s ease 0s;
  -webkit-transition: transform 0.3s ease 0s;
  -moz-transition: transform 0.3s ease 0s;
}
.menu__link {
  color: var(--color-font);
  transition: color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: var(--color-accent);
}
.menu__item:active {
  transform: scale(0.95);
}

@media (max-width: 479.98px) {
  .header__container {
    flex-direction: column;
    justify-content: center;
  }
  .header__logo {
    padding-top: 1rem;
  }
  .header__menu {
    padding-bottom: 1rem;
  }
  .menu__list {
    gap: 2rem;
  }
}
